{{#each this}}
  <li class='country-item'>
    <img class='country-img' src='{{flags.svg}}' alt='{{name.official}}' width='100' height='100' />
    <p class='country-text'>{{name.official}}</p>
  </li>
{{/each}}